#library {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.card {
  background-color: bisque;
  border: 2px solid black;
  color: brown;
  width: 275px;
  height: 100px;
}

.book-data {
  margin: 10px;
  text-align: start;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
