.form-button {
	width: 75px;
}

.form-button:hover {
	font-weight: bolder;
}

.form-container {
	background-color: var(--card);
	color: var(--text);
	max-width: 250px;
	border: 2px solid var(--background);
}

.form-container input[type="text"],
.form-container input[type="number"] {
	width: 100%;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="checkbox"] {
	padding: 10px;
	padding: 10px;
	margin: 5px 0px 22px 0px;
}

#newBook {
	max-width: 250px;
	display: none;
	padding: 10px;
	position: fixed;
	top: 115px;
	left: 30px;
}

.fade {
	opacity: 0.25;
}
