* {
	--background: #40514e;
	--card: #e4f9f5;
	--control: #30e3ca;
	--text: #11999e;
	--admin-text: #e4f9f5;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
}

#main-display {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto;
	grid-template-areas: "admin library";
}

#library {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

.card {
	display: grid;
	grid-template-columns: 6fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "book remove-book" "read .";
	background-color: var(--card);
	border-radius: 25px;
	color: var(--text);
	width: 300px;
	height: auto;
	box-shadow: 4px 2px 2px var(--background);
}

.book-data {
	margin: 10px;
	text-align: start;
	grid-area: book;
}

.remove {
	grid-area: remove-book;
}

.not-read {
	opacity: 0.7;
}

#admin {
	margin: 5px 0px;
	color: var(--admin-text);
}

.control {
	margin: 10px;
	background-color: var(--control);
	color: var(--background);
	border-radius: 10px;
	border: none;
	height: 20px;
	width: 30px;
	cursor: pointer;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
