* {
	--background: #40514e;
	--card: #e4f9f5;
	--control: #30e3ca;
	--text: #11999e;
	--admin-text: #e4f9f5;
	box-sizing: border-box;
	font-family: "Comfortaa", cursive;
}

body {
	background-color: var(--background);
}

#main-display {
	margin-top: 10px;
	display: grid;
	grid-template-columns: fit-content(300px) 1fr;
	grid-template-rows: auto;
	grid-template-areas: "admin library";
}

#library {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

.card {
	display: grid;
	grid-template-columns: 6fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "book remove-book" "read .";
	background-color: var(--card);
	border-radius: 25px;
	color: var(--text);
	width: 300px;
	height: auto;
	box-shadow: 4px 2px 2px var(--control);
	font-size: 20px;
}

.book-data {
	margin: 10px;
	text-align: start;
	grid-area: book;
}

.remove {
	grid-area: remove-book;
}

.not-read {
	opacity: 0.7;
}

#admin {
	margin: 0px 10px;
	color: var(--admin-text);
	border-right: 2px solid var(--card);
}

p.admin.text {
	font-size: 20px;
}

h1.admin.text {
	font-size: 40px;
	grid-area: header;
}

.controls {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas: "header header" "newBtn newTxt";
	margin: 10px;
}

#new-btn {
	grid-area: newBtn;
}

#new-text {
	grid-area: newTxt;
}

.control {
	margin: 10px;
	background-color: var(--control);
	color: var(--background);
	border-radius: 10px;
	border: none;
	height: 30px;
	width: 45px;
	cursor: pointer;
	font-size: 25px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
