.read-toggle {
	cursor: pointer;
	display: inline-block;
	grid-area: read;
}

.toggle-switch {
	display: inline-block;
	background: #ccc;
	border-radius: 16px;
	margin: 5px;
	width: 58px;
	height: 32px;
	position: relative;
	vertical-align: middle;
	transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
	content: "";
}
.toggle-switch:before {
	display: block;
	background: var(--card);
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
	width: 24px;
	height: 24px;
	position: absolute;
	top: 4px;
	left: 4px;
	transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
	background: var(--card);
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
	background: var(--text);
}
.toggle-checkbox:checked + .toggle-switch:before {
	left: 30px;
}

.toggle-checkbox {
	position: absolute;
	visibility: hidden;
}

.toggle-label {
	margin-left: 5px;
	position: relative;
	top: 2px;
}
